.navbar {
    padding: 10px 0;
    background-color: #24292e;
}

.navbar-toggle {
    color: #fff;
}

.navbar-menu {
    list-style: none;
    display: block !important;
}

.navbar-menuitem {
    color: #fff;
}

.display-flex {
    display: flex !important;
}

.flex-auto {
    -webkit-box-flex: 1 !important;
    flex: 1 1 auto !important;
}