<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar">
      <div class="logo-wrapper">
        <a href="javascript:;" class="logo-link">
          Economic
        </a>
      </div>

      <div class="navbar-upper-tabs">
        <nav class="economic-doc-set-nav economic-nav overflow-tabs-scroll-wrapper">
          <ul class="nav-tab-list overflow-tabs-scroll">
            <li class="nav-tab-container nav-tab">
              <a href="javascript:;" class="nav-tab nav-tab-link">
                Home
              </a>
            </li>
            <li class="nav-tab-container nav-tab">
              <a routerLink="/lancamentos" routerLinkActive="active" class="nav-tab nav-tab-link">
                Lançamentos
              </a>
            </li>
            <li class="nav-tab-container nav-tab">
              <a routerLink="/pessoas" routerLinkActive="active" class="nav-tab nav-tab-link">
                Pessoas
              </a>
            </li>
            <li class="nav-tab-container nav-tab">
              <a routerLink="/categorias" routerLinkActive="active" class="nav-tab nav-tab-link">
                Categorias
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
