.navbar-wrapper {
    border-bottom: 0;
    position: fixed;
    top: 0;
    transform: translateZ(0);
    width: 100%;
    z-index: 10006;
    background: #24292e;
}

.navbar {
    display: flex;
    height: 48px;
    padding: 0 .5em;
    position: relative;
}

.logo-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 36px;
    margin: 6px 0;
}

.logo-link {
    display: inline-block;
    opacity: 1;
    transition: opacity .2s;
    margin-top: 10px;
}

.logo-link:link, .logo-link:visited {
    color: rgba(255,255,255,0.75);
    outline: 0;
    text-decoration: none;
}

.navbar-upper-tabs {
    display: inline-block;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    overflow-y: auto;
    vertical-align: top;
}

.navbar-upper-tabs:not(:empty) {
    margin-left: 48px;
}

.economic-nav {
    font-size: 14px;
}

.economic-nav ul {
    list-style-type: none;
    padding: 0;
}

.nav-tab-container {
    display: inline-block;
    margin: 0;
}

.economic-doc-set-nav {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.nav-tab {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.overflow-tabs-scroll-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.overflow-tabs-scroll {
    left: 0;
    position: relative;
    transition: left .2s;
    width: 100%;
}

.nav-tab-list {
    white-space: nowrap;
}

.nav-tab-link {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    color: rgba(255,255,255,0.75);
    display: inline-block;
    margin: 0;
    padding: 0 24px;
    transition: color .2s;
}

.nav-tab-link:hover, .nav-tab-link.active {
    color: #fff;
}

.nav-tab-link:link, .nav-tab-link:visited {
    outline: 0;
    text-decoration: none;
}

.navbar-user {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 36px;
    margin: 6px 0;
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
}
