<div class="container" style="margin-top: 60px">
    <div class="ui-g">
        <div class="ui-g-12">
            <h1 style="font-size:26px">Lançamentos</h1>
        </div>
    </div>
    
    <form autocomplete="off" (ngSubmit)="pesquisar()">
        <div class="ui-g">
            <div class="ui-g-4 ui-fluid">
                <label class="form-control-label">Descrição</label>
                <input pInputText type="text" name="descricao" 
                    [(ngModel)]="filtro.descricao">
            </div>

            <div class="ui-g-2 ui-fluid">
                <label class="form-control-label">Vencimento</label>
                <p-calendar dateFormat="dd/mm/yy" name="dataVencimentoDe" 
                    [(ngModel)]="filtro.dataVencimentoDe"></p-calendar>
            </div>
            
            <div class="ui-g-2 ui-fluid">
                <label class="form-control-label">até</label>
                <p-calendar dateFormat="dd/mm/yy" name="dataVencimentoAte" 
                    [(ngModel)]="filtro.dataVencimentoAte"></p-calendar>
            </div>

            <div class="ui-g-2">
                <button pButton type="submit" label="Pesquisar" 
                    icon="fa-search" style="margin-top:22px"></button>
            </div>
        </div>
    </form>

    <div style="height:15px;"></div>

    <div class="ui-g">
        <div class="ui-g-12">
            <p-dataTable [value]="lancamentos" [responsive]="true" 
                emptyMessage="Nenhum lançamento encontrado."
                [paginator]="true" [rows]="filtro.itensPorPagina"
                [lazy]="true" [totalRecords]="totalRegistros"
                (onLazyLoad)="paginar($event)" #tabela
                [alwaysShowPaginator]="false">
                
                <p-column field="descricao" header="Descrição"></p-column>
                <p-column field="pessoa" header="Pessoa"></p-column>
                <p-column header="Vencimento" styleClass="wid150 center">
                    <ng-template let-lanc="rowData" pTemplate="body">
                        {{ lanc.dataVencimento | date:'dd/MM/y' }}
                    </ng-template>
                </p-column>
                <p-column header="Pagamento" styleClass="wid150 center">
                    <ng-template let-lanc="rowData" pTemplate="body">
                        {{ lanc.dataPagamento | date:'dd/MM/y' }}
                    </ng-template>
                </p-column>
                <p-column header="Valor" styleClass="wid120 right">
                    <ng-template let-lanc="rowData" pTemplate="body">
                        <span [style.color]="lanc.tipo === 'DESPESA' ? '#F44336' : '#4CAF50'">
                            {{lanc.valor | number:'1.2-2'}}
                        </span>
                    </ng-template>
                </p-column>
                <p-column styleClass="wid100 center">
                    <ng-template let-lanc="rowData" pTemplate="body">
                        <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"
                            [routerLink]="['/lancamentos', lanc.id]"></a>
                        <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"
                            (click)="confirmarExclusao(lanc)"></button>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>

        <div class="ui-g-12">
            <a routerLink="/lancamentos/form" pButton label="Novo Lançamento" icon="fa-plus-circle"></a>
        </div>
    </div>
</div>
