<div class="container" style="margin-top: 60px">
  <div class="ui-g">
      <div class="ui-g-12">
          <h1 style="font-size:26px">
            {{ editando ? 'Edição de' : 'Novo' }} Lançamento
          </h1>
      </div>
  </div>

  <form #formulario="ngForm" autocomplete="off" (ngSubmit)="salvar(formulario)">
    <div class="ui-g">
      <div class="ui-g-12">          
        <p-selectButton [options]="tipos" [(ngModel)]="lancamento.tipo" #tipo
          name="tipo"></p-selectButton>
      </div>
      
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <app-label [control]="vencimento" value="Vencimento" required="true"></app-label>
        <p-calendar dateFormat="dd/mm/yy" name="vencimento" [(ngModel)]="lancamento.dataVencimento"
          ngModel #vencimento="ngModel" required></p-calendar>
        <app-message [control]="vencimento" error="required" text="Informe a data de vencimento"></app-message>
      </div>
      
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label class="form-control-label">
          {{tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}
        </label>
        <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="lancamento.dataPagamento"
          name="dataPagamento" ngModel></p-calendar>
      </div>
      
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <app-label [control]="descricao" value="Descrição" required="true"></app-label>
        <input pInputText type="text" name="descricao" [(ngModel)]="lancamento.descricao"
          ngModel #descricao="ngModel" required minlength="3">
        <app-message [control]="descricao" error="required" text="Informe a descrição"></app-message>
        <app-message [control]="descricao" error="minlength" 
          text="Tamanho mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>
      
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <app-label [control]="valor" value="Valor" required="true"></app-label>
        <input pInputText type="text" placeholder="0,00" currencyMask name="valor" required
          [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }" 
          ngModel #valor="ngModel" [(ngModel)]="lancamento.valor">
        <app-message [control]="valor" error="required" text="Informe o valor"></app-message>
      </div>
      
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <app-label [control]="categoria" value="Categoria" required="true"></app-label>
        <p-dropdown [options]="categorias" [autoWidth]="false" name="categoria"
          placeholder="Selecione" ngModel #categoria="ngModel" required
          [(ngModel)]="lancamento.categoria.id"></p-dropdown>
        <app-message [control]="categoria" error="required" text="Informe a categoria"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <app-label [control]="pessoa" value="Pessoa" required="true"></app-label>
        <p-dropdown [options]="pessoas" [autoWidth]="false" name="pessoa"
          placeholder="Selecione" [filter]="true" ngModel 
          #pessoa="ngModel" required [(ngModel)]="lancamento.pessoa.id"></p-dropdown>
        <app-message [control]="pessoa" error="required" text="Informe a pessoa"></app-message>
      </div>
        
      <div class="ui-g-12 ui-fluid">
        <label class="form-control-label">Observação</label>
        <textarea pInputTextarea rows="3" name="observacao" ngModel
          [(ngModel)]="lancamento.observacao"></textarea>
      </div>
      
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"
          (click)="novo(formulario)"></button>
        <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
