<div class="container" style="margin-top: 60px">
    <div class="ui-g">
        <div class="ui-g-12">
            <h1 style="font-size:26px">Categorias</h1>
        </div>
    </div>

    <div class="ui-g">
        <div class="ui-g-12">
            <p-dataTable [value]="categorias">
                <p-column header="Nome" field="nome"></p-column>
                <p-column styleClass="wid100 center">
                    <ng-template let-categoria="rowData" pTemplate="body">
                      <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></a>
                      <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"
                        (click)="confirmarExclusao(categoria)"></button>
                    </ng-template>
                </p-column>
            </p-dataTable>
            
            <br />
        
            <button type="button" (click)="showDialog(formulario)" pButton label="Nova Categoria"
                icon="fa-plus-circle" iconPos="left"></button>
        </div>
    </div>

    <form #formulario="ngForm" autocomplete="off" (ngSubmit)="salvar(formulario)">
        <p-dialog [(visible)]="display" [modal]="true" [width]="400">
            <p-header>
                Nova Categoria
            </p-header>
        
            <div class="ui-g-12 ui-fluid">
                <app-label [control]="nome" value="Nome" required="true"></app-label>
                <input pInputText type="text" name="nome" required minlength="3" 
                    maxlength="60" [(ngModel)]="categoria.nome" #nome="ngModel">
                <app-message [control]="nome" error="required" text="Informe o nome"></app-message>
                <app-message [control]="nome" error="minlength" 
                    text="Tamanho mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres">
                </app-message>
            </div>

            <p-footer>
                <button pButton type="button" icon="fa-close" 
                    iconPos="left" label="Cancelar" (click)="hideDialog()"></button>

                <button pButton type="submit" [disabled]="formulario.invalid"
                    icon="fa-check" iconPos="left" label="Salvar"></button>
            </p-footer>
        </p-dialog>
    </form>
</div>
    