body {
    font-family: Arial, Helvetica, sans-serif;
    color: #263238;
    margin: 0px;
    background: #fff;
}

.economic-app {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

.container-login {
    max-width: 400px;
    margin: auto;
    margin-top: 110px; 
}

.page-content {
    overflow-x: auto;
    margin-top: 56px;
    margin-left: 220px;
    padding: 15px;
    display: flex;
    -webkit-flex: 1;
    flex: 1;
}

.card {
    background: #fff;
    padding: 10px;
    border-radius: 3px; 
}

.form-control-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-control-label.has-error {
    color: #f44336;
}

.required::after {
    content: ' *';
    color: #f44336;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

.ui-inputtext.ng-dirty.ng-invalid, p-calendar.ng-dirty.ng-invalid > .ui-calendar > .ui-inputtext {
    border-color: #f44336;
}

.ui-inputtext.ng-dirty.ng-invalid:focus, 
    p-calendar.ng-dirty.ng-invalid > .ui-calendar > .ui-inputtext:focus {
    box-shadow: 0 0 5px #ffb0aa;
}

.ui-dropdown-filter-container {
    width: 100%;
}

.ui-dialog.ui-widget .ui-dialog-content {
    padding: 1em 0.75em;
}

.ui-dialog-footer {
    border: none;
}

@media(min-width: 1200px) {
    .container {
        width: 1170px;
        margin: 0 auto;
    }
}

.center { text-align: center }
.left   { text-align: left   }
.right  { text-align: right  }

.wid100 { width: 100px }
.wid120 { width: 120px }
.wid150 { width: 150px }

.text-bold {
    font-weight: 600;
}