<div class="container">
  <form #formulario="ngForm" autocomplete="off">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova Pessoa</h1>
      </div>

      <div class="ui-g-12">          
         <p-inputSwitch onLabel="Ativo" offLabel="Inativo"></p-inputSwitch>
      </div>
      
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" required minlength="3"
          ngModel #nome="ngModel">

        <!--<app-message [control]="nome" error="required" 
          text="Informe uma descrição">
        </app-message>
          
        <app-message [control]="nome" error="minlength"
          text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres.">
        </app-message>-->
      </div>
      
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Telefone</label>
        <p-inputMask mask="(99) 9 9999-9999" ></p-inputMask>
      </div>
      
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
