<div class="container" style="margin-top: 60px">
  <div class="ui-g">
      <div class="ui-g-12">
          <h1 style="font-size:26px">Nova Pessoa</h1>
      </div>
  </div>

  <form #formulario="ngForm" autocomplete="off" (ngSubmit)="salvar(formulario)">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label class="form-control-label required">Nome</label>
        <input pInputText type="text" name="nome" required minlength="3"
            [(ngModel)]="pessoa.nome">
      </div>
    </div>
    
    <div class="ui-g">
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label class="form-control-label">Telefone</label>
        <p-inputMask mask="(99) 9 9999-9999" name="telefone"
          [(ngModel)]="pessoa.telefone"></p-inputMask>
      </div>

      <div class="ui-g-12 ui-md-6">
        <label class="form-control-label">Status</label>     
        <p-inputSwitch onLabel="Ativa" offLabel="Inativa"
          name="ativa" [(ngModel)]="pessoa.ativa"></p-inputSwitch>
      </div>
      
      <div class="ui-g-12" style="margin-top:20px">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
