<div class="container" style="margin-top: 60px">
  <div class="ui-g">
      <div class="ui-g-12">
          <h1 style="font-size:26px">
            {{ editando ? 'Edição de ' : 'Nova' }} Pessoa
          </h1>
      </div>
  </div>

  <form #formulario="ngForm" autocomplete="off" (ngSubmit)="salvar(formulario)">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <app-label [control]="nome" value="Nome" required="true"></app-label>
        <input pInputText type="text" name="nome" required minlength="3" 
          maxlength="60" [(ngModel)]="pessoa.nome" #nome="ngModel">
      
        <app-message [control]="nome" error="required" text="Informe o nome"></app-message>
        <app-message [control]="nome" error="minlength" 
          text="Tamanho mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>
    </div>
    
    <div class="ui-g">
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <app-label [control]="telefone" value="Telefone"></app-label>
        <p-inputMask mask="(99) 9 9999-9999" name="telefone" #telefone="ngModel"
          [(ngModel)]="pessoa.telefone"></p-inputMask>
      </div>

      <div class="ui-g-12 ui-md-6">
        <label class="form-control-label">Status</label>     
        <p-inputSwitch onLabel="Ativa" offLabel="Inativa"
          name="ativa" [(ngModel)]="pessoa.ativo"></p-inputSwitch>
      </div>
      
      <div class="ui-g-12" style="margin-top:20px">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
        <a routerLink="/pessoas">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
